In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('../Data/glassdoor_jobs_US.csv')
df.head()

,company,job_title,company_rating,job_description,location,salary_avg_estimate,salary_estimate_payperiod,company_size,company_founded,employment_type,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
0,Reliance Telephone Systems,Data And Telephone Technician,NaN,Data and Telephone Technician\nDuties:\n- Inst...,"Grand Forks, ND",$20.00,/hr (est.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,One of our clients,Head of Engineering - Data Centre,NaN,Essential Functions:\nWork in partnership with...,"Pryor, OK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Big Sky Managed Care,Certified Pharmacy Technician (CPhT) Data entr...,2.4,Our locally owned pharmacy group has an immedi...,"Great Falls, MT",$21.00,/hr (est.),51 to 200 Employees,2015,Company - Private,Pharmaceutical,Pharmaceutical & Biotechnology,$5 to $25 million (USD),2.4,2.6,2.1,2.6,2.6
3,HUNTER OIL AND PROPANE,Data Entry 2-3 years experience,NaN,```Duties```\n- Prepare and analyze financial ...,"Sanford, NC","$45,760",/yr (est.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Waabigwan Mashkiki,Data and Finance Administrator,NaN,"Waabigwan Mashkiki, LLC\nPosition Description\...","Mahnomen, MN",$22.50,/hr (est.),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   company                      780 non-null    object
 1   job_title                    780 non-null    object
 2   company_rating               607 non-null    float64
 3   job_description              763 non-null    object
 4   location                     780 non-null    object
 5   salary_avg_estimate          700 non-null    object
 6   salary_estimate_payperiod    700 non-null    object
 7   company_size                 612 non-null    object
 8   company_founded              612 non-null    object
 9   employment_type              612 non-null    object
 10  industry                     612 non-null    object
 11  sector                       612 non-null    object
 12  revenue                      612 non-null    object
 13  career_opportunities_rating  590 non-null    float64
 14  comp_and_benefits_rating     590 non-null    float64
 15  culture_and_values_rating    590 non-null    float64
 16  senior_management_rating     590 non-null    float64
 17  work_life_balance_rating     590 non-null    float64
dtypes: float64(6), object(12)
memory usage: 109.8+ KB

In [6]:
df.isna().sum()

company                          0
job_title                        0
company_rating                 173
job_description                 17
location                         0
salary_avg_estimate             80
salary_estimate_payperiod       80
company_size                   168
company_founded                168
employment_type                168
industry                       168
sector                         168
revenue                        168
career_opportunities_rating    190
comp_and_benefits_rating       190
culture_and_values_rating      190
senior_management_rating       190
work_life_balance_rating       190
dtype: int64

## text prosessing to extract skills, qualifications, etc.

In [15]:
# remove postings with no description
df_clean = df[~df['job_description'].isna()]

In [29]:
# make titles and descriptions lowercase
df_clean['job_title'] = df_clean['job_title'].str.lower()
df_clean['job_description'] = df_clean['job_description'].str.lower()

C:\Users\Shane\AppData\Local\Temp\ipykernel_17848\552748824.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['job_title'] = df_clean['job_title'].str.lower()
C:\Users\Shane\AppData\Local\Temp\ipykernel_17848\552748824.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['job_description'] = df_clean['job_description'].str.lower()

In [30]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 763 entries, 0 to 779
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   company                      763 non-null    object
 1   job_title                    763 non-null    object
 2   company_rating               591 non-null    float64
 3   job_description              763 non-null    object
 4   location                     763 non-null    object
 5   salary_avg_estimate          700 non-null    object
 6   salary_estimate_payperiod    700 non-null    object
 7   company_size                 611 non-null    object
 8   company_founded              611 non-null    object
 9   employment_type              611 non-null    object
 10  industry                     611 non-null    object
 11  sector                       611 non-null    object
 12  revenue                      611 non-null    object
 13  career_opportunities_rating  589 non-null    float64
 14  comp_and_benefits_rating     589 non-null    float64
 15  culture_and_values_rating    589 non-null    float64
 16  senior_management_rating     589 non-null    float64
 17  work_life_balance_rating     589 non-null    float64
dtypes: float64(6), object(12)
memory usage: 113.3+ KB

In [113]:
# filter out jobs that aren't data analytics / data science related based on title
positive_filter = {'science', 'scientist', 'analyst', 'analytics', 'machine', 'learning', 'programmer', 'developer', 'engineer'}
negative_filter = {'entry'} # filter out data entry jobs

In [114]:
def filter_words(text):
    words = set(text.split())
    return bool(positive_filter & words) and not bool(negative_filter & words)

In [119]:
df_filtered = df_clean[df_clean['job_title'].apply(filter_words)]
df_filtered.head()

,company,job_title,company_rating,job_description,location,salary_avg_estimate,salary_estimate_payperiod,company_size,company_founded,employment_type,industry,sector,revenue,career_opportunities_rating,comp_and_benefits_rating,culture_and_values_rating,senior_management_rating,work_life_balance_rating
14,Oak Creek Farms - Fort Independence Indian Com...,cannabis data analytics and marketing director,3.1,the director of analytics & marketing oak cree...,"Independence, CA",$29.50,/hr (est.),1 to 50 Employees,--,Government,--,--,Unknown / Non-Applicable,3.1,3.4,2.9,2.9,2.5
31,Charter Manufacturing,business intelligence and analytics lead - dat...,4.2,charter manufacturing is a fourth-generation f...,"Saukville, WI","$97,836",/yr (est.),1001 to 5000 Employees,1936,Company - Private,Metal & Mineral Manufacturing,Manufacturing,$1 to $5 billion (USD),4.4,4.4,4.3,4.2,3.8
34,Green Bay Converting,manufacturing business/data analyst,3.4,overview:\nthe manufacturing business/data ana...,"De Pere, WI","$72,500",/yr (est.),51 to 200 Employees,1999,Company - Private,Machinery Manufacturing,Manufacturing,Unknown / Non-Applicable,3.2,3.4,3.2,3.1,3.9
39,Phoenix Lithographing Corporation,direct mail data processing programmer - comme...,3.0,"phoenix lithographing corporation, a commercia...","Philadelphia, PA","$72,807",/yr (est.),51 to 200 Employees,--,Company - Public,Consumer Product Manufacturing,Manufacturing,$25 to $100 million (USD),2.8,2.8,2.8,2.8,2.8
41,Pete's RV Center,sr. data analyst,4.0,pete's rv is looking for a detail-oriented hyb...,"South Burlington, VT","$85,000",/yr (est.),1 to 50 Employees,--,Company - Private,--,--,Unknown / Non-Applicable,NaN,NaN,NaN,NaN,NaN

In [118]:
df_filtered.job_title.tolist()

['cannabis data analytics and marketing director',
 'business intelligence and analytics lead - data engineer',
 'manufacturing business/data analyst',
 'direct mail data processing programmer - commercial print / direct mail',
 'sr. data analyst',
 'senior data analyst',
 'health information technician- data analytics & medical records',
 'data center operations engineer',
 'software developer - ai trainer (contract)',
 'informatica developer with data movement',
 'operations data analyst',
 'senior data analyst/adobe campaign developer',
 'revenue & data analyst',
 'data processing analyst',
 'data engineer ii - qlik analytics lead',
 'data warehouse engineer',
 'business analyst',
 'army aviation data analyst',
 'data engineer',
 'data analytics engineer',
 'sentinel principal / sr. principal data visualization engineer – 10335',
 'system / business analyst (specifically, vista by viewpoint)',
 'research data analyst ii | agoro lab',
 'business intelligence and analytics lead - data engineer',
 'business analyst erp',
 'principal/sr. engineer systems test (data acquisition engineer)',
 'oracle business analyst',
 'data scientist [post-doc research fellow]',
 'intermediate data analyst',
 'senior medical economics analyst',
 'data conversion analyst',
 'autonomous vehicle software video data analyst',
 'junior data analyst',
 'data engineer - hss orthopedic data innovation lab',
 'senior business analyst',
 'sr. data analyst - distribution & administration services',
 'associate ecommerce business analyst',
 'data insights & analytics manager',
 'database engineer',
 'data analyst ii',
 'senior data analyst',
 'junior data analyst',
 'data center engineer',
 'principal / sr principal instrumentation and data acquisition hardware engineer',
 'cloud data engineer - senior solution specialist',
 'data engineer',
 'senior data & analytics engineer',
 'data analyst',
 'data engineer oconus',
 'finance data governance analyst hybrid',
 'data analyst - (in-office)',
 'sentinel principal / sr. principal data visualization engineer – 10335',
 'data engineer ii',
 'full stack data engineer',
 'data migration analyst - hybrid - contractor (1 year)',
 'ml ops engineer - hss orthopedic data innovation lab',
 'data scientist',
 'data analyst - supply chain',
 'database developer',
 'air force data integrity management senior analyst',
 'data integration engineer',
 'data scientist',
 'sales engineer - cybersecurity data services',
 'business intelligence analyst',
 'data engineer',
 'senior data analyst (hybrid remote)',
 'principal statistical programmer (remote)',
 'data scientist',
 'data quality analyst',
 'data analyst',
 'data center engineer - de',
 'data scientist oconus',
 'network data analyst',
 'data quality engineer - center for health care data',
 'senior edi analyst',
 'k-12 software business analyst – hr-payroll',
 'billing data analyst ~ white plains',
 'data analyst',
 'intermediate data analyst',
 'data engineer',
 'data scientist',
 'data analyst iii',
 'revenue cycle - business analyst',
 'technology support manager & business analyst',
 'edi analyst - full time',
 'sr. project manager / business analyst (vs585939122)',
 'environmental health & safety data analyst',
 'lead data engineer',
 'data science-machine learning engineer',
 'business analyst',
 'data analyst - in house',
 'senior data engineer',
 'operations data analyst',
 'data analyst i',
 'data/reporting analyst',
 'sr. business analyst (hybrid)',
 'meteorologist and data analyst',
 'data reporting analyst',
 'business intelligence analyst',
 'business analyst and process manager',
 'data science solutions consultant senior',
 'predictive analytics modeler',
 'sentinel principal / sr. principal data visualization engineer – 10335',
 'data integration engineer',
 'data scientist',
 'data analyst (remote)',
 'data migration analyst - hybrid - contractor (1 year)',
 'data analyst',
 'business intelligence analyst',
 'digital marketing manager of tactics, data and analytics',
 'database/ web developer',
 'associate director, clinical data science - ceg',
 'senior principal instrumentation & data network engineer',
 'data analyst',
 'clinical trials data analyst - on site washington dc',
 'senior data scientist',
 'associate ecommerce business analyst',
 'data engineer',
 'junior data analyst',
 'environmental health & safety data analyst',
 'manager of data science',
 'data quality engineer - center for health care data',
 'it project manager/business analyst',
 'sr. data engineer (sr. etl developer)',
 'data analyst',
 'avp data science & advanced analytics',
 'data scientist',
 'business analyst',
 'it business analyst',
 'workforce data analyst',
 'sentinel principal / sr. principal data visualization engineer – 10335',
 'data analyst iii',
 'senior data engineer',
 'data and reporting analyst ii',
 'integration analyst - clinical data',
 'data scientist',
 'data scientist',
 'cloud data platform engineer',
 'data center co-location solution engineer',
 'edi analyst',
 'tableau data visualization engineer',
 'business and data analyst',
 'data visualization analyst',
 'senior data privacy analyst (locations - richmond, va, kansas city, mo or abbott park, il',
 'data engineer iv',
 'data analyst (remote)',
 'data analyst - supply chain',
 'data science-machine learning engineer',
 'senior data scientist',
 'engineering data analyst',
 'senior principal statistical programmer - remote',
 'technical writer/quality assurance & business analyst',
 'it business analyst',
 'senior data scientist',
 'data engineer',
 'sr. statistical programmer',
 'data scientist - claims monitoring',
 'business analyst',
 'analytics and insights engineer',
 'associate ecommerce business analyst',
 'data scientist',
 'data engineer ii',
 'data analyst',
 'data analyst',
 'data analyst',
 'avp data science & advanced analytics',
 'data scientist',
 'cloud data platform engineer',
 'data scientist – global planning & analytics, analytics & insights',
 'senior data scientist',
 'data center operations analyst',
 'senior data scientist',
 'business analyst',
 'data engineer 1',
 'business intelligence analyst ii',
 'operations data analyst',
 'data integration engineer',
 'data analyst',
 'junior data scientist',
 'manager of data science',
 'senior data scientist',
 'data analyst iii',
 'data analyst',
 'junior/mid-level data analyst',
 'data science fellowship - 2024',
 'gas supply senior planner and data analyst (hybrid)',
 'data scientist',
 'itsm operations analyst',
 'product owner/business analyst',
 'payroll & business analyst',
 'business analyst',
 'software/data engineer',
 'data analyst (remote)',
 'data analyst ii',
 'data migration analyst - hybrid - contractor (1 year)',
 'data engineer ii',
 'data analyst iii',
 'junior data analyst',
 'data scientist',
 'senior machine learning engineer',
 'data reporting analyst',
 'ai engineer',
 'billing & healthcare data analyst',
 'data analyst (managerial level a) (ref wo# 518)',
 'business analyst',
 'intermediate data analyst',
 'junior data scientist',
 'data analyst',
 'data scientist',
 'avp data science & advanced analytics',
 'business intelligence analyst',
 'data science manager - hired signal',
 'business analyst',
 'sr. director - data science',
 'senior data scientist',
 'lead data scientist',
 'business analyst',
 'data analyst',
 'reporting and data analyst',
 'business analyst',
 'lead data scientist',
 'hp083 data curation scientist',
 'operations data analyst',
 'senior data analyst',
 'environmental health & safety data analyst',
 'data scientist',
 'data science fellowship - 2024',
 'analytics and insights engineer',
 'data engineer - fds',
 'database analyst',
 'acc readiness system data scientist',
 'senior data scientist',
 'data analyst',
 'data scientist',
 'data analyst iii',
 'data analyst',
 'business analyst',
 'data center operations analyst',
 'gas supply senior planner and data analyst (hybrid)',
 'telecom center data analyst (onsite)',
 'data scientist – bcg x',
 'data engineer iv',
 'data engineer',
 'senior data scientist',
 'finance project consultant sr./data analyst',
 'data governance analyst (privacy compliance) (contract to hire)',
 'data mes engineer',
 'data entry/data quality control analyst',
 'tableau data visualization engineer',
 'data analyst (remote)',
 'data migration analyst - hybrid - contractor (1 year)',
 'data engineer ii',
 'data reporting analyst',
 'data science-machine learning engineer',
 'data quality analyst',
 'data scientist',
 'data analyst',
 'data scientist',
 'data scientist - quality audit transformation',
 'engineering data analyst',
 'statistical programmer',
 'marketing communications data analyst',
 'machine learning engineer',
 'operations data analyst',
 'sr. data analyst - distribution & administration services',
 'data analyst ii',
 'ml ops engineer - hss orthopedic data innovation lab',
 'data analyst',
 'junior data scientist',
 'business intelligence analyst',
 'data analyst',
 'data scientist - claims monitoring',
 'data scientist - quality audit transformation',
 'data scientist – bcg x',
 'data engineer',
 'senior data scientist',
 'data analyst',
 'data scientist',
 'data analyst (remote)',
 'data scientist',
 'senior data analyst',
 'junior data analyst',
 'data analyst',
 'data scientist',
 'manager of data science',
 'data engineer iv',
 'commercial excellence analyst',
 'tableau data visualization engineer',
 'junior/mid-level data analyst',
 'senior sensor data fusion engineer',
 'sr. data analyst',
 'senior data engineer',
 'medical data analyst',
 'ml ops engineer - hss orthopedic data innovation lab',
 'data analyst - supply chain',
 'data engineer ii',
 'environmental health & safety data analyst',
 'data scientist',
 'data scientist - claims monitoring',
 'data scientist - quality audit transformation',
 'data engineer',
 'senior data scientist',
 'data analyst // powerbi experience',
 'data analyst',
 'senior data scientist - analytics app developer',
 'business engineer - manufacturing data analyst',
 'sr. hr data & analytics consultant',
 'senior data engineer',
 'senior data analyst (hybrid position)',
 'data engineer - local',
 'data analyst',
 'data analyst ii',
 'data analyst iii',
 'data analyst',
 'data science-machine learning engineer',
 'integration analyst - clinical data',
 'data analyst',
 'data scientist – bcg x',
 'data engineer iv',
 'commercial excellence analyst',
 'business analyst',
 'senior data engineer',
 'marketing data analyst',
 'business analyst',
 'ml ops engineer - hss orthopedic data innovation lab',
 'junior data analyst',
 'junior data scientist',
 'data analyst',
 'data quality analyst',
 'sr. analyst - information governance and data protection - pvh corp.',
 'senior data scientist',
 'tableau data visualization engineer',
 'data analyst',
 'business data analyst',
 'senior hmis data analyst',
 'salesforce business analyst',
 'sr. data scientist',
 'engineering manager, machine learning']